force-app/main/default/flows/Send_SMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_SMS_for_SixHanChar</name>
        <label>Send SMS for SixHanChar</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>SMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SendSMSForThreeHanChar</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listOfJSONString</name>
            <value>
                <elementReference>SixHandredsItDoesNotEvenSentTheSMS</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SMS</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SendSMSForThreeHanChar</name>
        <label>SendSMSForThreeHanChar</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>SMS</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listOfJSONString</name>
            <value>
                <elementReference>threeHandredsCharSendButNoRecordInBothHisoryAndApilog</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SMS</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>SixHandredsItDoesNotEvenSentTheSMS</name>
        <dataType>String</dataType>
        <expression>&apos;{&quot;recordId&quot;: &quot;&apos; + {!$Record.Id} + &apos;&quot;,&quot;smsText&quot;:&quot; 3 300 three humder Character Counter is a 100% free online character count calculator thats one to use. Sometimes users prefer si&apos; + {!$Record.MobilePhone} + &apos;&quot;,&quot;saveToInwiseMessagingHistory&quot;:true,&quot;createTask&quot;:true}&apos;</expression>
    </formulas>
    <formulas>
        <name>threeHandredsCharSendButNoRecordInBothHisoryAndApilog</name>
        <dataType>String</dataType>
        <expression>&apos;{\&quot;recordId\&quot;:\&quot;&apos; + {!$Record.Id} + &apos;\&quot;,\&quot;mobileNumber\&quot;:\&quot;&apos; + {!$Record.MobilePhone} + &apos;\&quot;,\&quot;smsText\&quot;:\&quot; 4300 three humder Character Counter is a 100% free online character count calculator that\\\&apos;s simple to use. Sometimes users prefer simplicity over all of the detailed writing information Word Counter provides, and this is exactly what this tool Character Counter is a 100% free online character count calculator thats simple to use.  provides, and this is exactly what this tool end  &apos; +&apos;}[[[*\\\\@#`$%^&amp;*()_+=}|?&gt;&lt;:;**&apos; + {!$Record.MobilePhone} + &apos;\&quot;,\&quot;saveToInwiseMessagingHistory\&quot;:true,\&quot;createTask\&quot;:true}&apos;</expression>
    </formulas>
    <interviewLabel>Send SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_SMS_for_SixHanChar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
